@{
    var status = Context.Request.Query["status"];
    var pending = "";
    var inprocess = "";
    var completed = "";
    var approved = "";
    var all = "";

    switch (status)
    {
        case "pending":
            pending = "active";
            break;
        case "inprocess":
            inprocess = "active";
            break;
        case "completed":
            completed = "active";
            break;
        case "approved":
            approved = "active";
            break;
        default:
            all = "active";
            break;

    }
}

<div class="container p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-primary">Order List</h2>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration: none;" asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-statusFilter="inprocess">
                    <li class="list-group-item @inprocess">In-Process</li>
                </a>
                <a style="text-decoration: none;" asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-statusFilter="pending">
                    <li class="list-group-item @pending">Payment Pending</li>
                </a>
                <a style="text-decoration: none;" asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-statusFilter="approved">
                    <li class="list-group-item @approved">Approved</li>
                </a>
                <a style="text-decoration: none;" asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-statusFilter="completed">
                    <li class="list-group-item @completed">Completed</li>
                </a>
                <a style="text-decoration: none;" asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-statusFilter="all">
                    <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div>
    </div>
</div>

<table id="tblData" class="table table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
            <th>
                Total
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/order.js"></script>
}